@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 50px;
}
.loginText, .homeText, .aboutText{
    width: 115px;
    height: 34px;
    color: #161414;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
